.parentBlock {
  width: 90%;
  /* background-color: aqua; */
  margin: 0 auto;
}
.dataInfo {
  margin: 35px 0px 0px;
  color: gray;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.childBlock {
  width: 70%;
  display: flex;
  gap: 180px;
  /* justify-content: space-between; */
  margin: 20px auto;
}
.innerBlock {
  width: 550px;
  display: flex;
  justify-content: space-between;
}
.timeInfo {
  color: white;
  font-size: 20px;
}
.tempInfo {
  color: white;
  font-size: 20px;
}
.weatherInfo {
  width: 200px;
  color: white;
  font-size: 20px;
}
